.ipynb_checkpoints/01.primitives-checkpoint.ipynb .ipynb_checkpoints/02.arrays-checkpoint.ipynb .ipynb_checkpoints/03.strings-checkpoint.ipynb .ipynb_checkpoints/04.linked_lists-checkpoint.ipynb .ipynb_checkpoints/05.trees-checkpoint.ipynb
